.header,.hero,.body,.footer
{
        background-color: #FFAEC9;
        margin:10px 0;
}

.box
{
        margin:10px;
        background-color: #99D9EA;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        min-height: 80px;
}

.red
{
        background-color: red!important;
}